*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}

body {
  background-color: rgb(87, 87, 87);
}

#game-view {
  display: block;
  margin: 0 auto;
}

.health-bars {
  display: flex;
  align-items: center;

  border: 3px solid gold;
  width: 1024px;
  margin: 0 auto;

  .separate-health-bars {
    padding: 1em;
    background-color: blue;
  }
  .health-bar-container {
    width: 100%;
    background-color: red;

    .health-bar {
      width: 100%;
      padding: 1em 0;
      background-color: green;
      transition: all 500ms;
    }
    .health-bar--1 {
      margin-left: auto;
    }
  }
}

.controls-info {
  color: white;
  font-family: sans-serif;
  p {
    font-weight: 600;
  }
}
